.heart {
    height: 25px;
    width: 50px;
    background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
}

.heart:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.heart.liked {
    background-position:right;
}

@-webkit-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

@-moz-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}
@-o-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

@keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

.is_animating {
    animation: heart-burst .8s steps(28) 1;
}
