body {
    text-align: center;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#main {
    margin-top: 64px;
}

img {
    width: 100%;
    height: auto;
}

.search-container {
    padding: 50px 0;
}

input[type=search] {
    display: block;
    box-sizing: border-box;
    width: 95%;
    max-width: 750px;
    margin: auto;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


input[type=search]:focus {
    outline: none;
    border: 0px;
    box-shadow: 0 6px 16px 1px #ccc;
}

button {
    background-color: rgb(239, 83, 80);
    box-shadow: 0 5px 12px rgb(255, 151, 149);
    color: #4a4141;
    text-align: center;
    text-decoration: none;
    padding: 5px 6px;
    border: none;
    border-radius: 20px;
    max-width: 300px;
    -webkit-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
}

button:hover {
    background-color: rgb(240, 115, 113);
}

button:active {
    box-shadow: 0 1px 12px rgb(255, 151, 149);
    transform: scale(0.98);
}

button:focus {
    outline: 0;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mb-25 {
    margin-bottom: 25px;
}

div a {
    color: rgb(239, 83, 80);
    text-decoration: none;
    font-weight: bold;
}

.hymn-title {
    padding-top: 30px;
    font-size: 50px;
    font-weight: normal;
}

#datepicker {
    border: 0;
    border-bottom: 2px solid rgb(239, 83, 80);
    text-align: center;
    175px
    height: 30px;
    outline: none;
}