body {
    text-align: center;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

img {
    width: 100%;
    height: auto;
}

input[type=search] {
    font-size: 1rem;
    width: 80%;
    padding: 12px 20px;
    margin: 25px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

input[type=search]:focus {
    border: 2px solid #99f;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

.heart {
    height: 25px;
    width: 50px;
    background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
}

.heart:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.heart.liked {
    background-position:right;
}

@-webkit-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

@-moz-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}
@-o-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

@keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

.is_animating {
    animation: heart-burst .8s steps(28) 1;
}
