body {
    text-align: center;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

img {
    width: 100%;
    height: auto;
}

input[type=search] {
    font-size: 1rem;
    width: 80%;
    padding: 12px 20px;
    margin: 25px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

input[type=search]:focus {
    border: 2px solid #99f;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}
