body {
    text-align: center;
}

/* table,
th,
td {
    border: 1px solid black;
    font-weight: bold;
} */

table {
    box-shadow: 0 5px 18px #ccc;
}

table {
    margin: auto;
}

th,
td {
    padding: 15px;
}

img {
    width: 100%;
    height: auto;
}

.active-black input[type=Search]:focus:not([readonly]) {
    border: 0px;
    box-shadow: 0 6px 16px 1px #ccc;
}

/* change cursor to pointer for hymns in a table */
.hymns td.clickable-row {
    cursor: pointer;
}

.form-control {
    color: #dadada;
}

.hidden {
    display: none;
}

#hymn-tables table {
    width: 450px;
}

table .table-hover-darker:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.heart {
    cursor: pointer;
    height: 25px;
    width: 50px;
    background-image:url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
}

.heart.liked {
    background-position:right;
}


@-webkit-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

@-moz-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}
@-o-keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

@keyframes heart-burst {
    from { background-position:left; }
    to { background-position:right; }
}

.is_animating {
    animation: heart-burst .8s steps(28) 1;
  }