body {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    font-weight: bold;
}

table {
    margin: auto;
}

th, td {
    padding: 15px;
}

img {
    width: 100%;
    height: auto;
}

.navBarWrapper {
    /* position: fixed; */
    z-index: 1;
    width: 100%;
}

.bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar li {
    display: inline-block;
}

.bar a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #181818;
    text-decoration: none;
}